version: 1.0.{build}
skip_tags: true
configuration: Debug
before_build:
  - nuget restore
build:
  project: BEP.sln
  verbosity: normal
test_script:
  - packages\OpenCover.4.6.519\tools\OpenCover.Console.exe -register:user -target:"packages\NUnit.ConsoleRunner.3.8.0\tools\nunit3-console.exe" -targetargs:".\bin\Debug\BEP.exe" -filter:"+[BEP]* -[BEP]*.Tests*" -output:opencover.xml
  - packages\coveralls.io.1.4.2\tools\coveralls.net.exe --opencover opencover.xml
